h1 {
  font-size: 40px;
  color: #376678;
  font-family: sans-serif;
  margin-bottom: 1px;
  margin-top: 10px;
}

/* left container */
.containerL {
  background-color: #78c4d4;
  width: 30%;
  height: 90%;
  border-radius: 8px;
  float: left;
  text-align: center;
  margin-bottom: 30px;
}

.containerL:hover {
  background-color: #d3e0ea;
}

header hr {
  margin-left: 10%;
}

h3 {
  color: black;
  font-family: sans-serif;
  margin-top: 5px;
}

img {
  width: 80%;
  height: 90%;
}

header p {
  text-align: left;
  font-family: "Lucida", sans-serif;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 15px;
}

/* link for thinkful */
a:link {
  color: #376678;
}

a:visited {
  color: blue;
}

a:hover {
  color: #78c4d4
}

a:active {
  color: blue;
}

/* link for (linkedin & gitbuh) icon*/
.fab {
  margin-bottom: 7px;
  font-size: 45px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  padding: 5px;
  background-color: #d3e0ea;
}

.fab:link{
  color: #78c4d4;
}

.fab:visited {
  color: blue;
}

.fab:hover {
  background: #376678;
}

.fab:active {
  color: blue;
}
/* link for email */
.far {
  margin-bottom: 7px;
  font-size: 45px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  padding: 5px;
  background-color: #d3e0ea;
}

.far:link{
  color: #78c4d4;
}

.far:visited {
  color: blue;
}

.far:hover {
  background: #376678;
}

.far:active {
  color: blue;
}

/* right container */
.containerR {
  width: 60%;
  height: 95%;
  background-color: #78c4d4;
  padding-left: 40px;
  float: right;
  border-radius: 8px;
  margin-bottom: 50px;
}

.containerR:hover {
  background-color: #d3e0ea;
}

h2 {
  color: #276678;
  font-family: sans-serif;
  font-size: 28px;
}

main p {
  text-align: left;
  padding-right: 40px;
  padding-left: 20px;
  font-family: "Lucida", sans-serif;
  font-size: 20px;
}

hr {
  border: 1px solid #1687a7;
  margin-right: 40px;
}

/* education list */
ol {
  list-style: none;
  font-family: "Lucida", sans-serif;
  font-size: 18px;
}

/* background of portfolio */
body {
  background-color: #1687a7;
  padding: 25px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #78c4d4;
  text-align: center;
  color: #d3e0ea;
  font-family: "Lucida", sans-serif;
}
